.login_page_container {
    background-color: white;
    text-align: center;
    margin: 10% 30% 0 30%;
    padding: 5%;
    border: 0.5px solid  #003b5c;
  }
  
  .hyperstack_logo {
    width: 25%;
  }
  
  hr {
    width: 70%;
    height: 5px;
    background-color:  #003b5c;
    margin-bottom: 10%;
  }
  
  .login_para {
    color: black;
    font-size: 15px;
  }
  
  .sign_in_container {
    display: flex;
    justify-content: center;
  }