 table {
    width: 70%;
    margin: 5% 0 10% 10%;
    color: black;    
 }
 th, td {
    border: 1px solid gray;
    overflow: hidden;
    text-align: left;
    height: 25px;
    font-size: 15px;
  }

  .close_icon {
   display: flex;
   justify-content: flex-end;
 }
 
