@import '../../styles/_colors.scss';

table {
  margin: 20px;

  th {
    height: 50px;
    color: #605d80;
    text-align: left;
  }

  th,
  td {
    border-bottom: 1px solid lightgray;
    min-width: 120px;
    padding: 5px;
  }

  td {
    color: rgb(61, 61, 61);
  }

  .header_icon {
    vertical-align: middle;
  }
}
