@import '../../styles/_colors.scss';

table {
  margin: 10px;
  width: calc(100% - 20px);
  th {
    height: 50px;
    color: $text_color;
    text-align: left;
    
  }

  th,
  td {
    border-bottom: 1px solid lightgray;
    min-width: 120px;
    padding: 4px;
  }

  td {
    color: $dark_text;
  }

  .header_icon {
    display: flex;
    align-items: center;

    svg {
      margin-right: 3px;
    }
  }

  @media (max-width: 1024px) {
    th,td {
      min-width: 110px;
    }
  }
  @media (max-width: 768px) {
    th,td {
      font-size: 12px;
      min-width: 80px;
    }
  }
}
