@import '../../styles/_colors.scss';

.dashboard {
  height: 100vh;
  background-color: $background_color;

  main {
    height: calc(100% - 100px);
    margin: 20px 30px 20px 260px;
    display: grid;
    gap: 20px;
    position: relative;
  }

  section {
    box-shadow: 3px 3px 10px rgb(198, 198, 198);
    background-color: white;
  }

  header {
    padding: 10px 0 10px 10px;
    font-size: 1.5rem;
    border-bottom: 2px solid $secondary_color;
    color: gray;
  }

}

  @media (max-width: 320px) {
    .dashboard {
      display: inline-block;
      
      main {
        margin-left: 20px;
        
      }
      
    }
    // .navbar {
    //   display: none;
    // }
  }
  