@import '../../styles/_colors.scss';

.dashboard {
  height: 100vh;
  background-color: $background_color;
  display: flex;

  main {
    flex: 1;
    margin: 30px;
    display: grid;
    gap: 20px;
    position: relative;
  }

  section {
    box-shadow: 3px 3px 10px rgb(198, 198, 198);
    background-color: white;
  }

  header {
    padding: 10px 0 10px 30px;
    font-size: 1.5rem;
    border-bottom: 2px solid $secondary_color;
    color: gray;
  }
}
