@import '../../styles/_colors.scss';

.new_expense_form_wrapper {
  position: absolute;
  left: -40;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  .new_expense_container {
    position: absolute;
    background-color: #fff;
    padding: 2% 4% 2% 4%;
    width: 28vw;
    animation: popup 0.5s ease-in-out backwards;
  }

  .new_expense_heading {
    margin-bottom: 5%;
    text-align: center;
    color: $alt_text;
  }

  .form_container {
    display: grid;
  }

  .form_input {
    margin-bottom: 5%;
    height: 90%;
  }

  .center_submit_button {
    display: flex;
    justify-content: center;
  }

  .submit_button {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 25%;
    height: 30px;
    background-color: green;
    color: #fff;
  }

  .submit_button:hover {
    background-color: #00c04b;
  }

  .end_close_icon {
    display: flex;
    justify-content: flex-end;

    .button_close_icon {
      background-color: red;
      color: #fff;
    }

    .button_close_icon:hover {
      background-color: #d2042d;
    }
  }

  @keyframes popup {
    0%{transform : translateY(200px)}
    100%{transform : translateY(50px)}
    
  }

}
