@import '../../styles/_colors.scss';

.expense_page {
  height: 100vh;
  background-color: $background_color;
  display: flex;

  .expense_page_container {
    flex: 1;
    background-color: white;
    margin: 20px;
    box-shadow: 3px 3px 10px rgb(198, 198, 198);
  }

  .expense_img {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .expense_page_header {
    color: black;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
  }


  .filters {
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    margin-left: 8%;
  }
}


