@import '../../styles/_colors.scss';

.expense_page {
  height: 100vh;
  background-color: $background_color;
  display: flex;

  .expense_page_container {
    flex: 1;
    background-color: white;
    margin: 20px;
    box-shadow: 3px 3px 10px rgb(198, 198, 198);
  }

  .expense_page_header {
    color: $primary_color;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 2%;
    
  }

  .add_expense_button {
    margin-left: 10%;
    margin-top: 2%;
    width: 10%;
    height: 4%;
    background-color: $primary_color;
    color: #fff;
   }

   .add_expense_button:hover {
    background-color: #2E5A88;
   }

}


