.new_expense_container {
    margin: 0 25% 0 25%;
    padding:  5% 5% 0 5%;
    border: 1px solid gray;
    box-shadow: 8px 8px 5px #aaaaaa;
 }
 
 .new_expense_heading {
    margin-bottom: 5%;
    text-align: center;
 } 

 .form_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 .form_input {
    margin: 2%;
 }
 
 .submit_button {
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 40%;
    height: 30px;
 }
 
 