@import '../../styles/_colors.scss';

.expenses_purchases {
  height: 100vh;
  background-color: $background_color;

  .expenses_purchases_wrapper {
    margin-left: 230px;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
  }

  .expenses_purchases_container {
    flex: 1;
    background-color: white;
    margin: 20px 30px;
    box-shadow: 3px 3px 10px rgb(198, 198, 198);
    position: relative;
  }

  header {
    padding: 10px;
    font-size: 2rem;
    border-bottom: 2px solid $secondary_color;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .new_item {
    background-color: $primary_color;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.15s ease;

    &:hover {
      background-color: #2E5A88;
    }

    &:active {
      background-color: $primary_color;
    }
  }

}

@media (max-width: 1024px) {
  header {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  header {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
    .expenses_purchases {
      display: inline-block;
      
      header {
        font-size: 1rem;
      }
      .expenses_purchases_wrapper {
        margin-left: 0;
      }
  }
}